# Script summarize for project
/python_summary/

/.idea/
# Python cache folders
*.pyc
__pycache__/

# uv
.venv/
.python-version

venv/

#JSONs
/data/dashboards.json
/data/users.json
/data/organizations.json

#Allure
/allure-results
/allure-report
